@(field: Field, label: String, args: (Symbol, Any)*)

<div class="form-group@if(field.hasErrors) { has-error has-feedback}">
    <label for="@field.name" class="control-label">@label</label>
    <textarea name="@field.name" id="@field.name" class="form-control" @toHtmlArgs(args.toMap)>@field.value</textarea>
    @if(field.hasErrors) {
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>

        <span class="help-block">
        @for( error <- field.errors) {
            <p>@error.message</p>
        }
        </span>
    }
</div>

<link rel="stylesheet" href="@routes.Assets.at("redactor/redactor.css")" />
<script src='@routes.Assets.at("redactor/redactor.min.js")'></script>
<script src='@routes.Assets.at("redactor/langs/ru.js")'></script>
<script type="text/javascript">
        $(document).ready(
                function()
                {
                    $('#@field.name').redactor({
                        focus: true,
                        lang:'ru',
                        formatting:['p','blockquote','pre','h2','h3'],
                        buttons: ['html', '|', 'formatting', '|', 'bold', 'italic', '|', 'table', 'link', 'image', 'file'],
                        imageUpload: '@{Admin.uploadImage()}',
                        fileUpload: '@{Admin.uploadFile()}'
                    });
                }
        );
</script>